/* Grundläggande stil */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hindrar scrollning */
    touch-action: none; /* Förhindrar oväntade touch-gester */
    background-color: black; /* Svart bakgrund */
}

/* Canvas täcker hela skärmen */
#gameCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* 100% av bredden */
    height: 100vh; /* 100% av höjden */
    background-color: #000000; /* Svart bakgrund */
}
